
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
@using (Html.BeginForm("UpdatePassword", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-group">


        <label for="oldPassword">Current Password</label>


        <input type="password" required class="form-control" name="oldPassword" id="oldPassword">

        <span class="error text-danger"> @ViewBag.ErrorOldPassword</span>

    </div>


    <div class="form-group">


        <label for="newPassword">New Password</label>


        <input type="password" required class="form-control" name="newPassword" id="newPassword">


    </div>


    <div class="form-group">


        <label for="newPasswordConfirmed">Confirm Password</label>


        <input type="password" required class="form-control" name="newPasswordConfirmed" id="newPasswordConfirmed">

        <span class="error text-danger"> @ViewBag.Error</span>
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>


}
-->
<div class="form-body" id="updatePassword">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Change Password</h3>
                    <p>Fill in the data below.</p>
                        @using (Html.BeginForm("UpdatePassword", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="col-md-12">
                                <input class="form-control" type="password" name="oldPassword" placeholder="Current Password" required>
                                <span class="error text-danger"> @ViewBag.ErrorOldPassword</span>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="password" name="newPassword" placeholder="New Password" required>

                            </div>



                            <div class="col-md-12">
                                <input class="form-control" type="password" name="newPasswordConfirmed" placeholder="Confirm Password" required>
                                <span class="error text-danger"> @ViewBag.Error</span>
                            </div>



                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        }
                    </div>
            </div>
        </div>
    </div>
</div>
