
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.PageName = "Trash";
}


<div id="trash">
    <img src="https://cdn.onlinewebfonts.com/svg/img_449334.png" />
    <h2>No Items</h2>
    <p>Items moved to the trash will appear here</p>
</div>

